[submodule "rust/aoc2023"]
	path = rust/aoc2023
	url = https://github.com/lbreede/aoc2023.git
[submodule "rust/2015"]
	path = rust/2015
	url = https://github.com/lbreede/aoc2015.git
[submodule "rust/2016"]
	path = rust/2016
	url = https://github.com/lbreede/aoc2016.git
[submodule "python/2024"]
	path = python/2024
	url = https://github.com/lbreede/aoc-2024-python
